@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.body {
  min-height: 100vh;
  background: var(--bg-color);
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
