.Button {
  padding: 6px 15px;
  color: var(--primary-color);
  cursor: pointer;
}

.clear {
  outline: none;
  border: 0;
  padding: 0;
  background: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  border: 0;
  color: var(--primary-color);
  background: var(--bg-color);
}

.backgroundInverted {
  border: 0;
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  padding: 1px;
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  color: red;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
