.AppLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.red {
  color: #f00;
}

.niti {
  position: relative;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--inverted-primary-color);
  transition: 0.3s;
  transition: all 0.3s;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #e4381c;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover {
    color: #e4381c;
  }

  &:hover::after {
    opacity: 1;
  }
}
